<div class="add-genre container">

  <div class="left"></div>

  <div class="center">

    <div class="title--blue">ジャンル登録画面</div>
    <div class="container__content">
      <% @genres.each do |genre| %>
        <div class="add-genre__item">
          <p class="add-genre__name">
            <%= genre.genre_name %>
          </p>
          <div class="add-genre__buttons">
            <%= link_to "追加", admin_genre_path(genre, params: {genre: {application_status: true}}), method: :patch, class: "btn btn__small--green" %>
            <%= link_to "拒否", admin_genre_path(genre), method: :delete, class: "btn btn__small--red" %>
          </div>
        </div>
      <% end %>

      <div class="add-genre__form-block">
        <div class="add-genre__form">
          <%= form_with model: [:admin, @genre], local: true do |f| %>
            <table class="add-genre__table">
              <tr>
                <td>
                  ジャンル
                </td>
                <td class="add-genre__genre">
                  <%= f.text_field :genre_name , class: "add-genre__genre-input"%>
                </td>
              </tr>
              <tr>
                <td></td>
                <td class="add-genre__submit">
                  <%= f.submit "新規登録", class: "btn btn__big--green" %>
                </td>
              </tr>
            </table>
          <% end %>
        </div>
      </div>
      
    </div>
  </div>

  <div class="genre-search right">
    <div class="genre-search__content">
      <div class="genre-search__title">登録ジャンル一覧</div>
      <% @genre_all.each do |genre| %>
        <ul class="genre-search__list">
          <li>
            <%= genre.genre_name %>
          </li>
        </ul>
      <% end %>
    </div>
  </div>

</div>
