<div class="user-add-genre">

  <%= render "common/profile_bar", user: @user_profile %>

  <div class="center">
    <div class="user-add-genre__container">
      <div class="title">ジャンル追加申請フォーム</div>
      <div class="user-add-genre__form">
        <%= form_with model: @genre, local: true do |f| %>
          <table class="user-add-genre__table">
            <tr>
              <td colspan="2" class="user-add-genre__caution">まだ登録されていないジャンルを申請してください</td>
            </tr>
            <tr>
              <td>ジャンル名</td>
              <td class="user-add-genre__genre">
                <%= f.text_field :genre_name, class: "user-add-genre__genre-input" %>
              </td>
            </tr>
            <tr>
              <td></td>
              <td class="user-add-genre__submit">
                <%= f.submit "ジャンル追加申請", class: "btn btn--green" %>
              </td>
            </tr>
          </table>
        <% end %>
      </div>
    </div>
  </div>

  <%= render "common/genre_search_bar", genres: @genres %>

</div>
