<div class="post container">

  <%= render "common/profile_bar", user: @user_profile %>

  <div class="center">
    <div class="post__container">
      <div class="title--blue">投稿編集画面</div>

      <%= render "form", youtuber: @youtuber, genres: @genres, edit_frag: true %>

    </div>
  </div>

  <%= render "common/genre_search_bar", genres: @genres %>

</div>

<script>
$('#evaluate').empty();
  $('#evaluate').raty({
    number: 5,
    score: function() {
      return $(this).attr('data-score');
    },
    starOn: "<%= asset_path("star-on.png") %>",
    starOff: "<%= asset_path("star-off.png") %>",
    starHalf: "<%= asset_path("star-half.png") %>",
    scoreName: 'youtuber[evaluation]',
    half: true
  });
</script>