<div class="post-index">

  <%= render "common/profile_bar", user: @user_profile, page: "user-show" %>

  <div class="post-index__container center">
    <p class="title">投稿一覧</p>

    <div class="post-index__content">
      <% @youtubers.each do |youtuber| %>
        <% if params[:sort] == "timeline" %>
          <% if current_user.following?(youtuber.user) %>
            <%= render "list", youtuber: youtuber %>
          <% end %>
        <% elsif params[:sort] == "favorite" %>
          <% if youtuber.favorited_by?(current_user) %>
            <%= render "list", youtuber: youtuber %>
          <% end %>
        <% else %>
          <%= render "list", youtuber: youtuber %>
        <% end %>
      <% end %>
    </div>

    <%= link_to new_youtuber_path do %>
      <button class="create-post">+</button>
    <% end %>

  </div>
  <%= render "common/genre_search_bar", genres: @genres %>
</div>

<script>
$('.review-evaluation').empty();
  $('.review-evaluation').raty({
    readOnly: true,
    number: 5,
    score: function() {
      return $(this).attr('data-score');
    },
    path: '/assets/'
  });
</script>