<div class="post-index">

  <%= render "common/profile_bar", user: @user_profile, page: "user-show" %>

  <div class="post-index__container center">
    <p class="title">投稿一覧</p>

    <div class="post-index__content">
      <% @youtubers.each do |youtuber| %>
        <% if params[:sort] == "timeline" %>
          <% if current_user.following?(youtuber.user) %>

            <%= link_to youtuber_path(youtuber), class: "post-index__link" do %>
              <div class="post-index__item">
                <p class="post-index__name">
                  <%= youtuber.name %>
                </p>
                <div class="post-index__evaluation">
                  <p class="post-index__evaluation-score">
                    <%= "#{youtuber.evaluation}/5" %>
                  </p>
                  <div class="review-evaluation" data-score="<%= youtuber.evaluation %>"></div>
                </div>
                <p class="post-index__genre">
                  ジャンル：
                  <%= youtuber.genre.genre_name %>
                </p>
                <div class="post-index__sub">
                  <p class="post-index__reaction">
                    <%= "コメント#{youtuber.number_of_comments}件" %>
                    <%= "お気に入り#{youtuber.number_of_favorites}件" %>
                  </p>
                  <div class="post-index__user">
                    <object>
                      <%= link_to user_path(youtuber.user) do %>
                        <%= attachment_image_tag youtuber.user, :image, :fill , 30, 30, fallback: "no_image.jpg", size: "30x30", class: "post-index__image" %>
                      <% end %>
                    </object>
                    <p class="post-index__user-name">
                      <%= youtuber.user.user_name %>
                    </p>
                    <object class="follow_button_<%= youtuber.user.id %>">
                      <%= render "public/relationships/relationship_post_index", youtuber: youtuber %>
                    </object>
                  </div>
                </div>
              </div>
            <% end %>

          <% end %>
        <% elsif params[:sort] == "favorite" %>
          <% if youtuber.favorited_by?(current_user) %>
            <div>
              <%= youtuber.name %>
              <%= youtuber.genre.genre_name %>
              <div class="review-evaluation" data-score="<%= youtuber.evaluation %>">評価：</div>
              <%= "#{youtuber.evaluation}/5" %>
              <%= "コメント#{youtuber.number_of_comments}件" %>
              <%= "お気に入り#{youtuber.number_of_favorites}件" %>
              <%= attachment_image_tag youtuber.user, :image, :fill , 50, 50, fallback: "no_image.jpg", size: "50x50" %>
              <%= youtuber.user.user_name %>
              <span class="follow_button_<%= youtuber.user.id %>">
                <%= render "public/relationships/relationship_post_index", youtuber: youtuber %>
              </span>
            </div>
          <% end %>
        <% else %>
          <div>
            <%= youtuber.name %>
            <%= youtuber.genre.genre_name %>
            <div class="review-evaluation" data-score="<%= youtuber.evaluation %>">評価：</div>
            <%= "#{youtuber.evaluation}/5" %>
            <%= "コメント#{youtuber.number_of_comments}件" %>
            <%= "お気に入り#{youtuber.number_of_favorites}件" %>
            <%= attachment_image_tag youtuber.user, :image, :fill , 50, 50, fallback: "no_image.jpg", size: "50x50" %>
            <%= youtuber.user.user_name %>
            <span class="follow_button_<%= youtuber.user.id %>">
              <%= render "public/relationships/relationship_post_index", youtuber: youtuber %>
            </span>
          </div>
        <% end %>
      <% end %>
    </div>

    <%= link_to new_youtuber_path do %>
      <button class="create-post">+</button>
    <% end %>

  </div>
  <%= render "common/genre_search_bar", genres: @genres %>
</div>

<script>
$('.review-evaluation').empty();
  $('.review-evaluation').raty({
    readOnly: true,
    number: 5,
    score: function() {
      return $(this).attr('data-score');
    },
    path: '/assets/'
  });
</script>