<div class="post-index container">

  <%= render "common/profile_bar", user: @user_profile, page: "user-show" %>

  <div class="center">

    <% if params[:sort] == "timeline" %>
      <p class="title--blue">タイムライン</p>
    <% elsif params[:sort] == "favorite" %>
      <p class="title--blue">お気に入り一覧</p>
    <% elsif params[:sort] == "genre-search" %>
      <p class="title--blue"><%= @genre.genre_name %>一覧</p>
    <% elsif params[:sort] == "genre-search-all" %>
      <p class="title--blue">全てのジャンル</p>
    <% elsif params[:sort] == "search" %>
      <p class="title--blue"><%= "「#{params[:keyword]}」の投稿検索結果" %></p>
    <% end %>

    <div class="container__content">
      <% @youtubers.each do |youtuber| %>
        <%= link_to youtuber_path(youtuber), class: "post-index__link" do %>
          <% if params[:sort] == "timeline" %>
            <% if current_user.following?(youtuber.user) %>
              <%= render "common/post_index", youtuber: youtuber %>
            <% end %>
          <% elsif params[:sort] == "favorite" %>
            <% if youtuber.favorited_by?(current_user) %>
              <%= render "common/post_index", youtuber: youtuber %>
            <% end %>
          <% else %>
            <%= render "common/post_index", youtuber: youtuber %>
          <% end %>
        <% end %>
      <% end %>
    </div>

    <%= link_to new_youtuber_path do %>
      <button class="create-post">+</button>
    <% end %>

    <a href="#" class="back-top__link">
      <div class=back-top__arrow-back>
        <div class="back-top__arrow"></div>
      </div>
    </a>

  </div>
  <%= render "common/genre_search_bar", genres: @genres %>
</div>

<script>
$('.review-evaluation').empty();
  $('.review-evaluation').raty({
    readOnly: true,
    number: 5,
    score: function() {
      return $(this).attr('data-score');
    },
    path: '/assets/'
  });
</script>