<div class="post">
  <%= render "common/profile_bar", user: @user_profile %>
  <div class="post__center">
    <div class="post__title">新規投稿画面</div>
    
    <table>
      <%= form_with model: @youtuber, local: true do |f| %>
        <tr>
          <td>YouTuberの名前</td>
          <td>
            <%= f.text_field :name %>
          </td>
        </tr>
        <tr>
          <td>ジャンル</td>
          <td>
            <%= f.collection_select(:genre_id, @genres, :id, :genre_name, {prompt: "ジャンルを選択してください"}) %>
          </td>
        </tr>
        <tr>
          <td>評価</td>
          <td>
            
          </td>
        </tr>
        <tr>
          <td>おすすめポイント</td>
          <td>
            <%= f.text_area :content %>
          </td>
        </tr>
        <tr>
          <td></td>
          <td>
            <%= f.submit "投稿" %>
          </td>
        </tr>
      <% end %>
    </table>
    
  </div>
  <%= render "common/genre_search_bar", genres: @genres %>
</div>