<div class="post">
  <%= render "common/profile_bar", user: @user_profile %>
  <div class="post__center">
    <div class="post__title">新規投稿画面</div>

    <%= render "form", youtuber: @youtuber, genres: @genres, edit_frag: false %>

  </div>
  <%= render "common/genre_search_bar", genres: @genres %>
</div>

<script>
$('#evaluate').empty();
$('#evaluate').raty ({
  starOn: "<%= asset_path("star-on.png") %>",
  starOff: "<%= asset_path("star-off.png") %>",
  starHalf: "<%= asset_path("star-half.png") %>",
  scoreName: 'youtuber[evaluation]',
  number: 5,
  half: true
});
</script>