<div class="post container">

  <%= render "common/profile_bar", user: @user_profile %>

  <div class="center">
    <div class="post__container">
      <div class="title">新規投稿画面</div>

      <%= render "form", youtuber: @youtuber, genres: @genres, edit_frag: false %>

    </div>
  </div>

  <%= render "common/genre_search_bar", genres: @genres %>

</div>

<script>
$('#evaluate').empty();
$('#evaluate').raty ({
  starOn: "<%= asset_path("star-on.png") %>",
  starOff: "<%= asset_path("star-off.png") %>",
  starHalf: "<%= asset_path("star-half.png") %>",
  scoreName: 'youtuber[evaluation]',
  number: 5,
  half: true
});
</script>