<div class="post-show">

  <%= render "common/profile_bar", user: @user_profile, page: "post-show" %>

  <div class="post-show__container center">

    <%= render "common/post_show", user_profile: @user_profile, youtuber: @youtuber  %>

    <div class="comment">

      <%= render "common/comment_index", youtuber: @youtuber, youtuber_comments: @youtuber_comments %>

      <div class="comment__form" id="comment">
        <div>コメント投稿フォーム</div>
        <%= form_with model: [@youtuber, @comment], local: true do |f| %>
          <%= f.text_area :content, class: "comment__form-input" %>
          <div class="comment__form-caution">
            <div>誹謗中傷や,公序良俗に反するような不適切な内容を含むコメントをしないでください。見つけ次第削除しサービスの利用を停止させていただきます。</div>
          </div>
          <div class="comment__form-submit">
            <%= f.submit "コメント投稿", class: "btn btn__big--green" %>
          </div>
        <% end %>
      </div>
    </div>

    <%= link_to new_youtuber_path do %>
      <button class="create-post">+</button>
    <% end %>
  </div>

  <%= render "common/genre_search_bar", genres: @genres %>

</div>

<script>
$('.review-evaluation').empty();
  $('.review-evaluation').raty({
    readOnly: true,
    number: 5,
    score: function() {
      return $(this).attr('data-score');
    },
    path: '/assets/'
  });
</script>