<div class="post-index container">
  <div class="left"></div>

  <div class="center">

    <% if params[:sort] == "genre-search" %>
      <p class="title--blue"><%= @genre.genre_name %>一覧</p>
    <% elsif params[:sort] == "genre-search-all" %>
      <p class="title--blue">全てのジャンル</p>
    <% elsif params[:category] == "search-by-post" %>
      <p class="title--blue"><%= "「#{params[:keyword]}」の投稿検索結果" %></p>
    <% else %>
      <p class="title--blue">投稿一覧</p>
    <% end %>

    <div class="container__content">
      <% @youtubers.each do |youtuber| %>
        <%= link_to admin_youtuber_path(youtuber), class: "post-index__link" do %>
        
          <%= render "common/post_index", youtuber: youtuber %>
          
        <% end %>
      <% end %>
      
      <div class="paginate">
        <%= paginate @youtubers %>
      </div>
      
    </div>

    <a href="#" class="back-top__link">
      <div class=back-top__arrow-back>
        <div class="back-top__arrow"></div>
      </div>
    </a>

  </div>

  <%= render "common/genre_search_bar", genres: @genres %>

</div>


