<div class="post-show">

  <%= render "common/admin_profile_bar", user: @user_profile, page: "post-show", youtuber: @youtuber %>

  <div class="post-show__container center">

    <%= render "common/post_show", user_profile: @user_profile, youtuber: @youtuber %>

    <div class="comment">
      <div class="comment__index">
        <% @youtuber_comments.each do |comment| %>
          <%= attachment_image_tag comment.user, :image, :fill, 50, 50, fallback: "no_image.jpg" %>
          <%= comment.user.user_name %>
          <%= comment.content %>

          <%= link_to "削除", admin_youtuber_comment_path(@youtuber, comment), method: :delete %>

        <% end %>
      </div>
    </div>
  </div>

  <%= render "common/genre_search_bar", genres: @genres %>

</div>

<script>
$('.review-evaluation').empty();
  $('.review-evaluation').raty({
    readOnly: true,
    number: 5,
    score: function() {
      return $(this).attr('data-score');
    },
    path: '/assets/'
  });
</script>