<div class="post-show">

  <%= render "common/admin_profile_bar", user: @user_profile, page: "post-show" %>

  <div class="post-show__center">
    <div class="post-show__title"><%= "#{@user_profile.user_name}さんの投稿詳細" %></div>

    <div class="post-show__content">
      <div class="post-show__main">
        <h2>
          <%= @youtuber.name %>
        </h2>
        <div>
          <%= "ジャンル：#{@youtuber.genre.genre_name}" %>
        </div>
        <div>
          <span class ="review-evaluation" data-score="<%= @youtuber.evaluation %>"></span>
          <span><%= "#{@youtuber.evaluation}/5" %></span>
        </div>
        <div>
          <%= @youtuber.content %>
        </div>
      </div>
      <div class="post-show__sub">
        <div>
          <%= link_to "削除", admin_youtuber_path(@youtuber), method: :delete %>
        </div>
        <div>
          <%= "お気に入り#{@youtuber.number_of_favorites}件" %>
          <%= "コメント#{@youtuber.number_of_comments}件" %>
        </div>
      </div>
    </div>

    <div class="comment">
      <div class="comment__index">
        <% @youtuber.comments.each do |comment| %>
          <%= attachment_image_tag comment.user, :image, :fill, 50, 50, fallback: "no_image.jpg" %>
          <%= comment.user.user_name %>
          <%= comment.content %>
          
          <%= link_to "削除", admin_comment_path(comment), method: :delete %>
          
        <% end %>
      </div>
    </div>
  </div>

  <%= render "common/genre_search_bar", genres: @genres %>

</div>

<script>
$('.review-evaluation').empty();
  $('.review-evaluation').raty({
    readOnly: true,
    number: 5,
    score: function() {
      return $(this).attr('data-score');
    },
    path: '/assets/'
  });
</script>