<def class="user-index container">
  <% if @user_profile %>

    <%= render "common/admin_profile_bar", user: @user_profile %>

  <% else %>
    <div class="left"></div>
  <% end %>

  <div class="center">
    
    <% if params[:category] == "search-by-user" %>
      <p class="title--blue"><%= "「#{params[:keyword]}」のユーザー検索結果" %></p>
    <% elsif params[:sort] == "followings" %>
      <p class="title--green"><%= "#{@user_profile.user_name}さんのフォロー中一覧" %></p>
    <% elsif params[:sort] == "followers" %>
      <p class="title--green"><%= "#{@user_profile.user_name}さんのフォロワー一覧" %></p>
    <% else %>
      <p class="title--blue">ユーザー一覧</p>
    <% end %>

    <div class="container__content">
      <% @users.each do |user| %>
        <%= link_to admin_user_path(user), class: "user-index__link" do %>

          <%= render "common/user_index", user: user %>

        <% end %>
      <% end %>

      <div class="paginate">
        <%= paginate @users %>
      </div>

    </div>

    <a href="#" class="back-top__link">
      <div class=back-top__arrow-back>
        <div class="back-top__arrow"></div>
      </div>
    </a>

  </div>

  <%= render "common/genre_search_bar", genres: @genres %>

</def>