<div class="user-show">

  <%= render "common/admin_profile_bar", user: @user_profile, page: "user-show" %>

  <div class="user-show__container center">
    <div class="title"><%= @user_profile.user_name %>さんおすすめ</div>

    <div class="user-show__content">
      <% @youtubers.each do |youtuber| %>
        <%= link_to admin_youtuber_path(youtuber), class: "user-show__link" do %>
          <div class="user-show__item">
            <div class="user-show__name">
              <%= youtuber.name %>
            </div>
            <div class="user-show__evaluation">
              <div class="user-show__evaluation-score">
                <%= "#{youtuber.evaluation}/5" %>
              </div>
              <div class="review-evaluation" data-score="<%= youtuber.evaluation %>">評価：</div>
            </div>
            <div class="user-show__genre">
              ジャンル：
              <%= youtuber.genre.genre_name %>
            </div>
            <div class="user-show__reaction">
              <%= "コメント#{youtuber.number_of_comments}件" %>
              <%= "お気に入り#{youtuber.number_of_favorites}件" %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>

  <%= render "common/genre_search_bar", genres: @genres %>

</div>

<script>
$('.review-evaluation').empty();
  $('.review-evaluation').raty({
    readOnly: true,
    number: 5,
    score: function() {
      return $(this).attr('data-score');
    },
    path: '/assets/'
  });
</script>