<div class="comment__index">
  <div class="comment__top">
    <p>
      <%= "#{youtuber.number_of_comments}件のコメント" %>
    </p>
    <% if user_signed_in? %>
      <div>
        <%= link_to "コメントを投稿", {anchor: "comment"}, class: "comment__link" %>
      </div>
    <% end %>
  </div>

  <div>
    <% youtuber_comments.each do |comment| %>
      <div class="comment__item">
        <div class="comment__image-tag">
          <%= link_to user_path(comment.user) do %>
            <%= attachment_image_tag comment.user, :image, :fill, 60, 60, fallback: "no_image.jpg", size: "60x60", class: "comment__image" %>
          <% end %>
        </div>
        <div class="comment__main">
          <div class="comment__name">
            <%= comment.user.user_name %>
          </div>
          <div class="comment__area">
            <%= comment.content %>
          </div>
        </div>
        <div class="comment__delete-tag">
          <% if user_signed_in? %>
            <% if comment.user.id == current_user.id %>
              <div class="comment__delete">
                <%= link_to "削除", youtuber_comment_path(comment.youtuber, comment), method: :delete, class: "btn btn__middle--red" %>
              </div>
            <% end %>
          <% elsif admin_signed_in? %>
            <div class="comment__delete">
              <%= link_to "削除", admin_youtuber_comment_path(@youtuber, comment), method: :delete, class: "btn btn__middle--red" %>
            </div>
          <% end %>
        </div>
        <span class="comment__time">コメント日時：<%= comment.created_at.strftime('%Y/%m/%d %H:%M:%S') %></span>
      </div>
    <% end %>
  </div>
</div>