<div class="profile left">
  <div>
    <% if user.id == current_user.id %>
      <div class="profile__title">マイプロフィール</div>
    <% else %>
      <div class="profile__title"><%= "#{user.user_name}さんのプロフィール" %></div>
    <% end %>

    <%= attachment_image_tag user, :image, :fill, 100, 100, fallback: "no_image.jpg" %>

    <% if user.id != current_user.id %>
      <span id="follow_button">
        <%= render "public/relationships/relationship_profile_bar", user: user %>
      </span>
    <% end %>

    <%= user.user_name %>
    <% user.genres.each do |genre| %>
      <%= genre.genre_name %>
    <% end %>
    <%= user.introduce %>

    <%= "フォロー中#{user.number_of_followers}人" %>
    <%= "フォロワー#{user.number_of_followed}人" %>
  </div>

  <div>
    <% if user.id != current_user.id %>
      <div>共通のジャンル</div>
      <% user.user_genres.includes(:genre).each do |user_genre| %>
        <% current_user.user_genres.each do |current_user_genre| %>
          <% if user_genre.genre_id == current_user_genre.genre_id %>
            <%= user_genre.genre.genre_name %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  </div>

  <div>
    <%= link_to "お気に入り一覧へ",youtubers_path(sort: "favorite") %>
  </div>
  
  <div>
    <% if user.id == current_user.id %>
      <div>
        <%= link_to "プロフィール編集", edit_user_path(current_user) %>
        <%= link_to "退会", users_confirm_path %>
      </div>
      <div>
        <div>自分のコメント</div>
        <% user.comments.each do |comment| %>
          <%= comment.content %>
        <% end %>
      </div>
    <% end %>
  </div>
  
</div>