<div class="profile">
  <div>
    <% if user.id == current_user.id %>
      <div class="profile__title">マイプロフィール</div>
    <% else %>
      <div class="profile__title"><%= "#{user.user_name}さんのプロフィール" %></div>
    <% end %>

    <%= attachment_image_tag user, :image, :fill, 100, 100, fallback: "no_image.jpg" %>

    <% if user.id != current_user.id %>
      <% if @youtuber %>
        <% if current_user.following?(user) %>
          <%= link_to "フォロー中", unfollow_path(user, page: page, youtuber_id: @youtuber.id), method: :post %>
        <% else %>
          <%= link_to "フォローする", follow_path(user, page: page, youtuber_id: @youtuber.id), method: :post %>
        <% end %>
      <% else %>
        <% if current_user.following?(user) %>
          <%= link_to "フォロー中", unfollow_path(user, page: page), method: :post %>
        <% else %>
          <%= link_to "フォローする", follow_path(user, page: page), method: :post %>
        <% end %>
      <% end %>
    <% end %>

    <%= user.user_name %>
    <% user.genres.each do |genre| %>
      <%= genre.genre_name %>
    <% end %>
    <%= user.introduce %>

    <%= "フォロー中#{current_user.number_of_followers}人" %>
    <%= "フォロワー#{current_user.number_of_followed}人" %>
  </div>
  <div>
    <%= link_to "お気に入り一覧へ",youtubers_path(sort: "favorite") %>
  </div>
  <div>
    <% if user.id == current_user.id %>
      <%= link_to "プロフィール編集", edit_user_path(current_user) %>
      <%= link_to "退会", users_confirm_path %>
    <% end %>
  </div>
  <div>
    <div>自分のコメント</div>
    <% user.comments.each do |comment| %>
      <%= comment.content %>
    <% end %>
  </div>
</div>