<div class="profile">
  <div>
    <% if user.id == current_user.id %>
      <div class="profile__title">マイプロフィール</div>
    <% else %>
      <div class="profile__title"><%= "#{user.user_name}さんのプロフィール" %></div>
    <% end %>

    <%= attachment_image_tag user, :image, :fill, 100, 100, fallback: "no_image.jpg" %>
    <%= user.user_name %>
    <% user.genres.each do |genre| %>
      <%= genre.genre_name %>
    <% end %>
    <%= user.introduce %>

  </div>
  <div>
    <%= link_to "お気に入り一覧へ",youtubers_path %>
  </div>
  <div>
    <div>自分のコメント</div>
    <% user.comments.each do |comment| %>
      <%= comment.content %>
    <% end %>
  </div>
</div>