<div class="user-show__item">
  <p class="user-show__name">
    <%= youtuber.name %>
  </p>
  <div class="user-show__evaluation">
    <div class="user-show__evaluation-score">
      <%= "#{youtuber.evaluation}/5" %>
    </div>
    <p class="review-evaluation" data-score="<%= youtuber.evaluation %>">評価：</p>
  </div>
  <p class="user-show__genre">
    ジャンル：
    <%= youtuber.genre.genre_name %>
  </p>
  <p class="user-show__reaction">
    <%= "コメント#{youtuber.number_of_comments}件" %>
    <%= "お気に入り#{youtuber.number_of_favorites}件" %>
  </p>
</div>