<div class="mypage-edit">

  <div class="mypage-edit__form">
    <div class="mypage-edit__title">マイページ編集</div>
    <%= form_with model: @user, local: true do |f| %>
      <div class="mypage-edit__top">
        <div class="mypage-edit__image">
          <%= attachment_image_tag @user, :image, size:"300x300", fallback: "no_image.jpg", size:"300x300" %>
        </div>

        <table>
          <tr>
            <td>プロフィール画像</td>
            <td>
              <%= f.attachment_field :image %>
            </td>
          </tr>
          <tr>
            <td>ニックネーム</td>
            <td>
              <%= f.text_field :user_name %>
            </td>
          </tr>
        </table>

      </div>
      <div class="mypage-edit__middle">
        <%= f.fields_for :genre do |g| %>
          <% @genres.each do |genre| %>
            <%= g.check_box genre.genre_name,{}, true, false %>
            <%= g.label genre.genre_name %>
          <% end %>
        <% end %>
      </div>
      <div class="mypage-edit__bottom">
        <div>自己紹介</div>
        <%= f.text_area :introduce %>
      </div>
      <div>
        <%= f.submit "変更を保存"%>
      </div>
    <% end %>
  </div>

  <%= render "common/genre_search_bar", genres: @genres %>

</div>