<def class="user-index">

  <%= render "common/profile_bar", user: @user_profile %>

  <div class="user-index__center">
    <div>ユーザー一覧</div>
    <div>
      <% @users.each do |user| %>
        <%= attachment_image_tag user, :image, :fill, 100, 100, fallback: "no_image.jpg" %>
        <%= user.user_name %>
        <% user.genres.each do |genre| %>
          <%= genre.genre_name %>
        <% end %>

        <% if current_user.following?(user) %>
          <%= link_to "フォロー中", unfollow_path(user, page: "user-index"), method: :post %>
        <% else %>
          <%= link_to "フォローする", follow_path(user, page: "user-index"), method: :post %>
        <% end %>

      <% end %>
    </div>
  </div>

  <%= render "common/genre_search_bar", genres: @genres %>

</def>