<def class="user-index">

  <%= render "common/profile_bar", user: @user_profile %>

  <div class="user-index__center">
    <div>ユーザー一覧</div>
    <div>
      <% @users.each do |user| %>
        <%= attachment_image_tag user, :image, :fill, 100, 100, fallback: "no_image.jpg" %>
        <%= user.user_name %>
        <% user.genres.each do |genre| %>
          <%= genre.genre_name %>
        <% end %>
        
        <span class="follow_button_<%= user.id %>">
          <%= render "public/relationships/relationship_user_index", user: user %>
        </span>
        
        <% if current_user.followed?(user) %>
          <div>フォローされています</div>
        <% end %>

      <% end %>
    </div>
  </div>

  <%= render "common/genre_search_bar", genres: @genres %>

</def>