<!DOCTYPE html>
<html>
  <head>
    <title>MyTuber</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div class="headder">
      <div>
        <%= link_to image_tag("pf_icon1.png"), root_path %>
      </div>

      <div class="nav">
        <% if user_signed_in? %>
          <div class="nav__upper">
            <%= link_to "マイページ", user_path(current_user), class: "btn btn__big--red" %>
            <%= link_to "ユーザー一覧", users_path(user_id: current_user.id), class: "btn btn__big--red" %>
            <%= link_to "タイムライン", youtubers_path(sort: "timeline"), class: "btn btn__big--red" %>
            <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "btn btn__big--red" %>
          </div>
          <div class="nav__lower search">
            <%= form_with url: search_path, method: :get, local: true do |f| %>
              <%= f.select :category, [["会員検索", "search-by-user"], ["投稿検索", "search-by-post"]] %>
              <%= f.text_field :keyword %>
              <%= f.submit "検索", class: "btn btn__search" %>
            <% end %>
          </div>
        <% elsif admin_signed_in? %>
          <div class="nav__upper">
            <%= link_to "ユーザー一覧", admin_users_path, class: "btn btn__big--red" %>
            <%= link_to "投稿一覧", admin_youtubers_path, class: "btn btn__big--red" %>
            <%= link_to "ジャンル追加", new_admin_genre_path, class: "btn btn__big--red" %>
            <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: "btn btn__big--red" %>
          </div>
          <div class="nav__lower search">
            <%= form_with url: admin_search_path, method: :get, local: true do |f| %>
              <%= f.select :category, [["会員検索", "search-by-user"], ["投稿検索", "search-by-post"]] %>
              <%= f.text_field :keyword %>
              <%= f.submit "検索", class: "btn btn__search" %>
            <% end %>
          </div>
        <% else %>
          <div class="nav__upper--before-log-in">
            <%= link_to "ログイン", new_user_session_path, class: "btn btn__big--red" %>
            <%= link_to "サインアップ", new_user_registration_path, class: "btn btn__big--red"  %>
          </div>
        <% end %>
      </div>
    </div>

    <div class="main">
      <%= yield %>
    </div>

    <div class="footer">
      <p class="footer__copyright">Copyright © MyTuber 2021</p>
      <div class="footer__contact">
        <%= link_to "お問い合わせ", new_contact_path, class: "footer__contact-link" %>
      </div>
    </div>

  </body>
</html>
